<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="container my-5">
      <h2>TheComment - About</h2>
      <p>
        TheComment is a platform for discussion and making friends.<br />
        You can share you views and connect with others.<br />
        Please join us and please be nice when posting.
      </p>
    </div>
  </body>
</html>
