<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="container my-5">
      <h2>Write a Comment</h2>
      <form action="/blogs" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Title:</label>
          <input type="text" class="form-control" id="title" name="title" />
        </div>
        <div class="mb-3">
          <label for="body" class="form-label">Comment:</label>
          <textarea
            name="body"
            class="form-control"
            id="body"
            cols="20"
            rows="5"
          ></textarea>
        </div>

        <button class="btn btn-primary">Post comment</button>
      </form>
    </div>
  </body>
</html>
