<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <h1>Hi there!</h1>
    <p>This is the details page</p>

    <h2>Blog (in detail)</h2>

    <h3><%= blog.title %></h3>
    <p><%= blog.body %></p>

    <a href="#" class="delete" data-doc="<%= blog._id %>">delete this post</a>
    <!-- 'data-doc' is a custom data type -->

    <script>
      const trashcan = document.querySelector("a.delete");

      trashcan.addEventListener("click", (e) => {
        const endpoint = `/blogs/${trashcan.dataset.doc}`;

        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
