<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <h1>Hi there!</h1>
    <p>This is the about page</p>

    <h2>Blogs</h2>

    <% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
    <a href="/blogs/<%= blog._id %>">
      <h3><%= blog.title %></h3>
    </a>
    <p><%= blog.body %></p>
    <%})%> <% } else { %>
    <p>there is nothing to display...</p>
    <% } %>
  </body>
</html>
